*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 500vh;
  display: flex;
  flex-direction: column;
}
.nav {
  background-color: gray;
  height: 10vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  padding: 16px;
  margin-bottom: 48px;
  top: 0;
}

.totalHTML {
  display: flex;
}

#filteroverlay {
  display: block;
  position: fixed;
  width: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(209, 209, 209);
  padding: 2rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.5);
}

.filter_item {
  display: flex;
  padding: 0.4rem;
}
.filterName {
  margin-left: 10px;
}
#winter:hover,
#summer:hover {
  cursor: pointer;
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 400px;
  border: 1px black solid;
  text-align: center;
  margin: 0.1em;
}

.image {
  padding: 2rem;
  max-width: 100%;
  height: 50%;
}
.img {
  width: 100%;
}
.content {
  padding: 1rem;
  height: 50%;
}

.addtocart {
  margin: 16px;
  padding: 16px 24px;
  background-color: orange;
  border: 0px solid black;
  border-radius: 16px;
}
.addtocart:hover {
  cursor: pointer;
  opacity: 0.8;
}
